---
pagination:
  data: comisiones
  size: 1
  alias: comisiones
  addAllPagesToCollections: true
permalink: "comision/{{comisiones.nombre | slug | safe}}/index.html"
tags:
  - comisiones
---


{% extends "src/base.njk" %}

{% block head %}
<title>{{comisiones.nombre}} | JusticiaPedia</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}

    <section id="content px-4">
			<div class="content-wrap">

				<!-- Contenido
				============================================= -->

				<div class="section m-0 py-6" style="background-color: #f1f4fa">
					<div class="container">
						<div class="row">

              <div class="col-lg-12 my-4 py-4 px-4 background-perfiles">
                <a href="/index.html" style="font-weight:600">Inicio</a> / <a href="/comisiones/1/index.html" style="font-weight:600">Comisiones de Postulación</a> / <a href="" style="pointer-events:none;font-weight:600">{{comisiones.nombre}}</a>
              </div>
                
              <div class="tab p-1">
                <div class="col-lg-2-5 mr-2">
                  <button class="tablinks h-100" onclick="openTab(event, 'institucion')" id="defaultOpen"><img src="/elementos/ICONOS/ICONOS/11.png">Institución</button>
                </div>
                <div class="col-lg-2-5 mr-2">
                  <button class="tablinks h-100" onclick="openTab(event, 'autoridades')"><img src="/elementos/ICONOS/ICONOS/12.png">Comisionados</button>
                </div>
                <div class="col-lg-2-5 mr-2">
                  <button class="tablinks h-100" onclick="openTab(event, 'comisiones')"><img src="/elementos/ICONOS/ICONOS/13.png">Candidaturas</button>
                </div>
                <div class="col-lg-3 m-auto p-2" style="text-align:end">
                  {% if comisiones.tw %}
                  <a href="{{comisiones.tw}}" class="btn-twitter"><i class="fa-brands fa-twitter"></i>Tweet</a>
                  {% endif %}
                  {% if comisiones.fb %}
                  <a href="{{comisiones.fb}}" class="btn-facebook"><i class="fa-brands fa-facebook-f"></i>Compartir</a>
                  {% endif %}
                </div>
              </div>

              <div id="institucion" class="tabcontent p-0">

                <div class="col-lg-12 my-4 py-4 background-perfiles">
                  <div class="row">
                    <div class="col-lg-4">
                      <img class="img_institucion" src="{{comisiones.fotoURL}}">
                    </div>

                    <div class="col-lg-4 px-4">
                      <h1 class="titulo_cuadros">{{comisiones.nombre}}</h1>
                      <p class="subtitulo_cuadros">Horario de Atención: {{comisiones.horario}}</p>
                      <p class="subtitulo_cuadros">Días de Atención: {{comisiones.diasAtencion}}</p>
                    </div>

                    <div class="col-lg-4 px-4">
                      <h1 class="titulo_cuadros2">Contacto</h1>
                      <a class="subtitulo_cuadros2" href="{{comisiones.web}}" target="_blank"><img class="red" src="/elementos/ICONOS/ICONOS-07.png">{{comisiones.web}}</a>
                      <p class="subtitulo_cuadros2"><img class="red" src="/elementos/ICONOS/ICONOS-08.png">{{comisiones.correo}}</p>
                      <p class="subtitulo_cuadros2"><img class="red" src="/elementos/ICONOS/ICONOS-09.png">{{comisiones.telefono}}</p>
                    </div>
                  </div>
                  
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/01.png">
                    <h1 class="text-white">Descripción de la Institución</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <p>{{comisiones.descripcion}}</p>
                  </div>
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/15.png">
                    <h1 class="text-white">Requisitos</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <p>{{comisiones.requisitos}}</p>
                  </div>
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/14.png">
                    <h1 class="text-white">Comisión</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <p>{{comisiones.comision}}</p>
                  </div>
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/07.png">
                    <h1 class="text-white">Infografía</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <img src="{{comisiones.infografiaURL}}">
                  </div>
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/10.png">
                    <h1 class="text-white">Cronograma</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <img src="{{comisiones.cronogramaURL}}">
                  </div>
                </div>
                    
              </div>

              <div id="autoridades" class="tabcontent p-0">
                <div class="col-lg-12 my-4 py-4 background-perfiles">
                  <div class="row">
                    {% for perfil in collections.perfiles | filtrarPorInstitucion("comisiones.nombre") %}
                      <p>{{ perfil.nombre }}</p>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div id="comisiones" class="tabcontent p-0">
                  
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>

{% endblock %}

{% block body_javascripts %}

    <script>
      function openTab(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
      }
      document.getElementById("defaultOpen").click();
    </script>


{% endblock %}