---
permalink: "comisiones/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Comisiones de Postulación | JusticiaPedia</title>

{% endblock %}

{% block content %}

        <section id="content px-4">
			<div class="content-wrap">

				<!-- Novedades
				============================================= -->

				<div class="section m-0 py-6" style="background-color: #90c1db">
					<div class="container">
						<div class="row justify-content-center">

							<div class="col-lg-6 col-sm-12 order-2 order-lg-1 text-center">
								<img class="imagen_slider" src="/elementos/ICONOS/JUSTICIAPEDIA_02-16.png">
                                <h1 class="titulo_slider">Comisiones de Postulación</h1>
                                <p class="texto_slider">Lorem ipsum dolor sit amet, consecteur adipiscing elit, Lorem ipsum dolor sit amet, consecteur adipiscing elit,
                                    Lorem ipsum dolor sit amet, consecteur adipiscing elit,
                                </p>
							</div>
							
							
						</div>
					</div>
				</div>


            </div>
        </section>

{% endblock %}