---
permalink: "comisiones/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Comisiones de Postulación | JusticiaPedia</title>

{% endblock %}

{% block content %}

{% endblock %}