---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>JusticiaPedia | Red Ciudadana</title>

{% endblock %}

{% block content %}

		<div class="popup2">
			<button id="close2">&times;</button>
			<iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FRedciudadanagt%2Fvideos%2F203353792644070%2F&show_text=false&width=560&t=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
		</div>

		<!-- Content
		============================================= -->
		<section id="content px-4">
			<div class="content-wrap">

				<!-- Novedades
				============================================= -->

				<div class="section m-0 py-4" style="background-color: #f1f5fb">
					<div class="container">
						<div class="row">

							<!--div class="col-lg-8 col-sm-12 order-2 order-lg-1">
								noticias
							</div-->
							
							
						</div>
					</div>
				</div>

				<!-- Podcast -->

				<div class="section py-6 m-0" style="background-color: #4c5761">
					
					<div class="container">
						<div class="row align-items-center col-mb-50">
							<div class="col-md-12 text-white">
								<div class="row posts-md col-mb-30" style="align-items:center">
									
									<div class="entry col-sm-6 col-xl-6">
										<div class="grid-inner">
											<span class="subtitulo-podcast">Podcast</span>
											<h3 class="titulo-podcast">JusticiaPedia</h3>
											<p class="texto-podcast">Lorem opsum dolor sit amet consecteur Lorem opsum dolor sit amet consecteur  Lorem opsum dolor sit amet consecteur </p>
											
										</div>
									</div>

									<div class="entry col-sm-6 col-xl-6">
										<div class="grid-inner">
											<!--a href="https://open.spotify.com/episode/07jgf9edynFB5HFDBT4unV" target="_blank"><img style="width:300px;margin:auto" src="/elementos/PODCAST.png"></a-->
											
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>

				<!-- Noticias y Videos
				============================================= -->

				<div class="section py-6 mb-6 mt-0" style="background-color: ##f1f5fb">
					
					<div class="container">
						<div class="row align-items-center col-mb-50">
								
							<div class="col-lg-9 col-sm-12">
								<h2 class="font-bold text-4xl border-b-2 border-blue-500 mb-4 pb-4" style="text-align:left;margin:1rem 0">Noticias</h2>
								<!--
								noticias
								-->
								<div class="mb-6" style="display:flex; justify-content:flex-end">
									<a href="/eventos/index.html">Más Eventos<i class="icon-arrow-right" style="margin-left:5px"></i></a>
								</div>	
							</div>	
							<div class="col-lg-3 col-sm-12">
								<h3 class="uppercase font-bold text-base tracking-wider my-auto mb-4 pb-4"style="text-align:left;margin:1rem 0">Videos</h3>
								<!--
								videos
								-->
								<div class="mb-6">
									<div style="display:flex; justify-content:flex-end">
									<a href="/videos/index.html">Más Videos<i class="icon-arrow-right" style="margin-left:5px"></i></a>
								</div>
							</div>	
						</div>	
						

					</div>	
				</div>
			</div>

		</section><!-- #content end -->
{% endblock %}

{% block body_javascripts %}
	
{% endblock %}
