---
pagination:
  data: perfiles
  size: 1
  alias: perfiles
  addAllPagesToCollections: true
permalink: "perfiles/{{perfiles.id}}/{{perfiles.nombre | slug | safe}}/index.html"
tags:
  - perfiles
---
{% extends "src/base.njk" %}

{% block head %}
<title>JusticiaPedia | Red Ciudadana</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block content %}

    <section id="content px-4">
			<div class="content-wrap">

				<!-- Contenido
				============================================= -->

				<div class="section m-0 py-6" style="background-color: #f1f4fa">
					<div class="container">
						<div class="row">

              <div class="col-lg-12 my-4 py-4 px-4 background-perfiles">
                {% if perfiles.institution %}

                {% for institucion in collections.sectorjusticia%}
                {% if institucion.data.sectorjusticia.id == perfiles.institution %}
                <a href="/index.html" style="font-weight:600">Inicio</a> / <a href="{{institucion.url}}" style="font-weight:600">{{institucion.data.sectorjusticia.nombre}}</a> / <a href="" style="pointer-events:none;font-weight:600">{{perfiles.nombre}}</a>
                {% endif %}
                {% endfor %}

                {% elif perfiles.election %}

                {% for institucion in collections.comisiones%}
                {% if institucion.data.comisiones.id == perfiles.election %}
                <a href="/index.html" style="font-weight:600">Inicio</a> / <a href="{{institucion.url}}" style="font-weight:600">{{institucion.data.comisiones.nombre}}</a> / <a href="" style="pointer-events:none;font-weight:600">{{perfiles.nombre}}</a>
                {% endif %}
                {% endfor %}

                {% elif perfiles.comission %}

                {% for institucion in collections.comisiones%}
                {% if institucion.data.comisiones.id == perfiles.comission %}
                <a href="/index.html" style="font-weight:600">Inicio</a> / <a href="{{institucion.url}}" style="font-weight:600">{{institucion.data.comisiones.nombre}}</a> / <a href="" style="pointer-events:none;font-weight:600">{{perfiles.nombre}}</a>
                {% endif %}
                {% endfor %}

                {% endif %}
              </div>

              <div class="tab p-1">
                <div class="col-lg-2-5 mr-2">
                  <button class="tablinks h-100" onclick="openTab(event, 'institucion')" id="defaultOpen"><img src="/elementos/ICONOS/ICONOS/11.png">Información General</button>
                </div>
              </div>

              <div id="institucion" class="tabcontent p-0">

                <div class="col-lg-12 my-4 py-4 background-perfiles">
                  <div class="row">
                    <div class="col-lg-4 text-center">
                      {% if perfiles.fotoURL %}
                      <img src="{{perfiles.fotoURL}}">
                      {% else %}
                      <img style="width:250px;margin:auto" src="/elementos/ICONOS/JUSTICIAPEDIA_02-21.png">
                      {% endif %}
                    </div>

                    <div class="col-lg-4 px-4">
                      <h1 class="titulo_cuadros mb-4">{{perfiles.nombre}}</h1>
                      <p class="subtitulo_cuadros"><b>Institución:</b> {{perfiles.seleccionarInstitución}}</p>
                      <div class="linea2"></div>
                      <p class="subtitulo_cuadros"><b>Puesto:</b> {{perfiles.puesto}}</p>
                      <div class="linea2"></div>
                      <p class="subtitulo_cuadros"><b>Profesión:</b> {{perfiles.profesion}}</p>
                      <div class="linea2"></div>
                      <p class="subtitulo_cuadros"><b>No. Colegiado:</b> {{perfiles.nocolegiado}}</p>
                    </div>

                    <div class="col-lg-3 text-center px-4" style>
                      <h5 class="titulo_cuadros2  mb-4">Documentos</h5>
                      <a class="btn btn3 w-100 mb-2" href="{{perfiles.cv}}">Hoja de Vida (pdf)</a>
                      <a class="btn btn3 w-100" href="{{perfiles.expediente}}">Expediente</a>

                    </div>
                  </div>
                  
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/09.png">
                    <h1 class="text-white">Experiencia Profesional</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <p>{{perfiles.experienciaProfesional}}</p>
                  </div>
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/08.png">
                    <h1 class="text-white">Experiencia Académica</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <p>{{perfiles.experienciaAcademica}}</p>
                  </div>
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/10.png">
                    <h1 class="text-white">Fuentes de Información</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <p>{{perfiles.fuenteTexto}}</p>
                  </div>
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/14.png">
                    <h1 class="text-white">Proyección Humana</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <p>No hay Información</p>
                  </div>
                </div>
                    
              </div>


            </div>
          </div>
        </div>

      </div>
    </section>

{% endblock %}

{% block body_javascripts %}

    <script>
      function openTab(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
      }
      document.getElementById("defaultOpen").click();
    </script>

{% endblock %}

