---
pagination:
  data: sectorjusticia
  size: 1
  alias: sectorjusticia
  addAllPagesToCollections: true
permalink: "sectorjusticia/{{sectorjusticia.nombre | slug | safe}}/index.html"
tags:
  - sectorjusticia
---


{% extends "src/base.njk" %}

{% block head %}
<title>{{sectorjusticia.nombre}} | JusticiaPedia</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block content %}

    <section id="content px-4">
			<div class="content-wrap">

				<!-- Contenido
				============================================= -->

				<div class="section m-0 py-6" style="background-color: #f1f4fa">
					<div class="container">
						<div class="row">

              <div class="col-lg-12 my-4 py-4 px-4 background-perfiles">
                <a href="/index.html" style="font-weight:600">Inicio</a> / <a href="/sectorjusticia/1/index.html" style="font-weight:600">Sector Justicia</a> / <a href="" style="pointer-events:none;font-weight:600">{{sectorjusticia.nombre}}</a>
              </div>

              <div class="tab p-1">
                <div class="col-lg-2-5 mr-2">
                  <button class="tablinks h-100" onclick="openTab(event, 'institucion')" id="defaultOpen"><img src="/elementos/ICONOS/ICONOS/11.png">Institución</button>
                </div>
                <div class="col-lg-2-5 mr-2">
                  <button class="tablinks h-100 autoridades" onclick="openTab(event, 'autoridades')"><img src="/elementos/ICONOS/ICONOS/12.png">Autoridades</button>
                </div>
                {% set divPrinted = false %}
                {% for comision in collections.comisiones %}
                {% if comision.data.comisiones.institution == sectorjusticia.id %}
                {% if sectorjusticia.id == "institution-6" and not divPrinted %}
                <div class="col-lg-3 mr-2">
                  <button class="tablinks h-100" onclick="redireccionar( '/comisiones/1/index.html' )"><img src="/elementos/ICONOS/ICONOS/13.png">Comisiones de Postulación</button>
                </div>
                {% set divPrinted = true %}
                {% elseif sectorjusticia.id != "institution-6" %}
                <div class="col-lg-3 mr-2">
                  <button class="tablinks h-100" onclick="redireccionar( '{{ comision.url }}' )"><img src="/elementos/ICONOS/ICONOS/13.png">Comisiones de Postulación</button>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                <div class="col-lg-3 m-auto p-2" style="text-align:end">
                  <a href="{{sectorjusticia.tw}}" class="btn-twitter"><i class="fa-brands fa-twitter"></i>Tweet</a>
                  <a href="{{sectorjusticia.fb}}" class="btn-facebook"><i class="fa-brands fa-facebook-f"></i>Compartir</a>
                </div>
              </div>

              <div id="institucion" class="tabcontent p-0">

                <div class="col-lg-12 my-4 py-4 background-perfiles">
                  <div class="row">
                    <div class="col-lg-4">
                      <img class="img_institucion" src="{{sectorjusticia.fotoURL}}">
                    </div>

                    <div class="col-lg-4 px-4">
                      <h1 class="titulo_cuadros">{{sectorjusticia.nombre}}</h1>
                      <p class="subtitulo_cuadros">Horario de Atención: {{sectorjusticia.horario}}</p>
                      <p class="subtitulo_cuadros">Días de Atención: {{sectorjusticia.diasAtencion}}</p>
                    </div>

                    <div class="col-lg-4 px-4">
                      <h1 class="titulo_cuadros2">Contacto</h1>
                      <a class="subtitulo_cuadros2" href="{{sectorjusticia.web}}" target="_blank"><img class="red" src="/elementos/ICONOS/ICONOS-07.png">{{sectorjusticia.web}}</a>
                      <p class="subtitulo_cuadros2"><img class="red" src="/elementos/ICONOS/ICONOS-09.png">{{sectorjusticia.correo}}</p>
                      <p class="subtitulo_cuadros2"><img class="red" src="/elementos/ICONOS/ICONOS-08.png">{{sectorjusticia.telefono}}</p>
                    </div>
                  </div>
                  
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/01.png">
                    <h1 class="text-white">Descripción de la Institución</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <p>{{sectorjusticia.descripcion}}</p>
                  </div>
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/02.png">
                    <h1 class="text-white">Misión</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <p>{{sectorjusticia.mision}}</p>
                  </div>
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/03.png">
                    <h1 class="text-white">Visión</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <p>{{sectorjusticia.vision}}</p>
                  </div>
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/04.png">
                    <h1 class="text-white">Autoridades</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <div class="row">
                      {% for perfil in collections.perfiles | filtrarPorInstitucion(sectorjusticia.id) | limit(4) %}
                      <div class="col-lg-3 col-sm-12 order-2 order-lg-1 text-center my-2">

                        <div class="cuadro_perfil h-100">
                          <div class="imagen-container">
                            {% if perfil.data.perfiles.fotoURL %}
                            <img class="imagen-principal" src="{{perfil.data.perfiles.fotoURL}}" alt="Imagen Principal" />
                            <img class="imagen-respaldo" src="/elementos/ICONOS/JUSTICIAPEDIA_02-21.png" alt="Imagen de Respaldo" style="display: none;" />
                            {% else %}
                            <img class="imagen-respaldo" src="/elementos/ICONOS/JUSTICIAPEDIA_02-21.png" alt="Imagen de Respaldo" />
                            {% endif %}
                          </div>

                          <div class="p-4">
                            <h1 class="my-2">{{perfil.data.perfiles.nombre}}</h1>
                            <a href="/perfiles/{{perfil.data.perfiles.id}}/{{perfil.data.perfiles.nombre | slug}}/index.html" class="btn btn2">Más Información<a>
                          </div>
                        </div>
              
                      </div>
                      {% endfor %}
                    </div>
                    <div class="row">
                      <div class="col-lg-12 text-center">
                        <button class="btn my-4" onclick="openTab(event, 'autoridades')">Ver todos los perfiles</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/05.png">
                    <h1 class="text-white">Presupuesto</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">

                  </div>
                </div>

                <div class="my-4">
                  <div class="col-lg-12 py-2 background-perfiles-header">
                    <img src="/elementos/ICONOS/ICONOS/06.png">
                    <h1 class="text-white">Enlaces</h1>
                  </div>
                  <div class="col-lg-12 py-4 background-perfiles2">
                    <div class="row d-flex">
                      {% if sectorjusticia.enlaceServicios %}
                      <div class="col-lg-2-5 my-2">
                        <a class="btn btn3 w-100" style="padding:10px" target="_blank" href="{{sectorjusticia.enlaceAccesoInformacion}}">
                          <div class="d-flex align-items-center">
                            <img style="width:60px" src="/elementos/ICONOS/ICONOS/17.png">
                            <h6>Acceso a la Información</h6>
                          </div>
                          </a>
                      </div>
                      <div class="col-lg-2-5 my-2">
                        <a class="btn btn3 w-100" style="padding:10px" target="_blank" href="{{sectorjusticia.enlaceGobiernoDigital}}">
                          <div class="d-flex align-items-center">
                            <img style="width:60px" src="/elementos/ICONOS/ICONOS/18.png">
                            <h6>Gobierno Digital</h6>
                          </div>
                          </a>
                      </div>
                      <div class="col-lg-2-5 my-2">
                        <a class="btn btn3 w-100" style="padding:10px" target="_blank" href="{{sectorjusticia.enlaceDatosAbiertos}}">
                          <div class="d-flex align-items-center">
                            <img style="width:60px" src="/elementos/ICONOS/ICONOS/19.png">
                            <h6>Datos Abiertos</h6>
                          </div>
                          </a>
                      </div>
                      <div class="col-lg-2-5 my-2">
                        <a class="btn btn3 w-100" style="padding:10px" target="_blank" href="{{sectorjusticia.enlaceServicios}}">
                          <div class="d-flex align-items-center">
                            <img style="width:60px" src="/elementos/ICONOS/ICONOS/20.png">
                            <h6>Servicios 1</h6>
                          </div>
                          </a>
                      </div>
                      <div class="col-lg-2-5 my-2">
                        <a class="btn btn3 w-100" style="padding:10px" target="_blank" href="{{sectorjusticia.enlaceServicios2}}">
                          <div class="d-flex align-items-center">
                            <img style="width:60px" src="/elementos/ICONOS/ICONOS/20.png">
                            <h6>Servicios 2</h6>
                          </div>
                          </a>
                      </div>
                      {% else %}
                      <div class="col-lg-4 my-2">
                        <a class="btn btn3 w-100" style="padding:10px" target="_blank" href="{{sectorjusticia.enlaceAccesoInformacion}}">
                          <div class="d-flex align-items-center">
                            <img style="width:60px" src="/elementos/ICONOS/ICONOS/17.png">
                            <h6>Acceso a la Información</h6>
                          </div>
                          </a>
                      </div>
                      <div class="col-lg-4 my-2">
                        <a class="btn btn3 w-100" style="padding:10px" target="_blank" href="{{sectorjusticia.enlaceGobiernoDigital}}">
                          <div class="d-flex align-items-center">
                            <img style="width:60px" src="/elementos/ICONOS/ICONOS/18.png">
                            <h6>Gobierno Digital</h6>
                          </div>
                          </a>
                      </div>
                      <div class="col-lg-4 my-2">
                        <a class="btn btn3 w-100" style="padding:10px" target="_blank" href="{{sectorjusticia.enlaceDatosAbiertos}}">
                          <div class="d-flex align-items-center">
                            <img style="width:60px" src="/elementos/ICONOS/ICONOS/19.png">
                            <h6>Datos Abiertos</h6>
                          </div>
                          </a>
                      </div>
                      {% endif %}
                      
                    </div>
                  </div>
                </div>
                    
              </div>

              <div id="autoridades" class="tabcontent p-0">
                <div class="col-lg-12 my-4 py-4 background-perfiles">
                  <div class="row px-4">
                    {% for perfil in collections.perfiles | filtrarPorInstitucion(sectorjusticia.id) %}
                    <div class="col-lg-3 col-sm-12 order-2 order-lg-1 text-center my-2">

                      <div class="cuadro_perfil h-100">
                        <div class="imagen-container">
                          {% if perfil.data.perfiles.fotoURL %}
                          <img class="imagen-principal" src="{{perfil.data.perfiles.fotoURL}}" alt="Imagen Principal" />
                          <img class="imagen-respaldo" src="/elementos/ICONOS/JUSTICIAPEDIA_02-21.png" alt="Imagen de Respaldo" style="display: none;" />
                          {% else %}
                          <img class="imagen-respaldo" src="/elementos/ICONOS/JUSTICIAPEDIA_02-21.png" alt="Imagen de Respaldo" />
                          {% endif %}
                        </div>

                        <div class="p-4">
                          <h1 class="my-2">{{perfil.data.perfiles.nombre}}</h1>
                          <a href="/perfiles/{{perfil.data.perfiles.id}}/{{perfil.data.perfiles.nombre | slug}}/index.html" class="btn btn2">Más Información<a>
                        </div>
                      </div>
            
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>

{% endblock %}

{% block body_javascripts %}

    <script>
      function openTab(evt, tab) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tab).style.display = "block";
        evt.currentTarget.className += " active";
        window.scrollTo(0, 0);
        
        if(tab === "autoridades"){
          autoridades = document.getElementsByClassName("autoridades");
          autoridades[0].classList.add("active")
        }
      }
      document.getElementById("defaultOpen").click();
    </script>
    
    <script>
    // Función que redirige a una URL proporcionada como parámetro
        function redireccionar(url) {
            // Utiliza el método window.location para redirigir a la URL especificada
            window.location.href = url;
        }
    </script>

    <script>
        // Obtén una lista de todos los contenedores de imágenes
        const contenedoresImagenes = document.querySelectorAll(".imagen-container");

        // Itera sobre cada contenedor de imágenes
        contenedoresImagenes.forEach((contenedor) => {
            // Obtén una referencia a la imagen principal y la imagen de respaldo dentro de cada contenedor
            const imagenPrincipal = contenedor.querySelector(".imagen-principal");
            const imagenRespaldo = contenedor.querySelector(".imagen-respaldo");

            // Agrega un evento 'load' a la imagen principal
            imagenPrincipal.addEventListener("load", () => {
                // La imagen principal se ha cargado correctamente, muestra la imagen principal
                imagenPrincipal.style.display = "block";
                imagenRespaldo.style.display = "none";
            });

            // Agrega un evento 'error' a la imagen principal
            imagenPrincipal.addEventListener("error", () => {
                // Hubo un error al cargar la imagen principal, oculta la imagen principal y muestra la imagen de respaldo
                imagenPrincipal.style.display = "none";
                imagenRespaldo.style.display = "block";
            });
        });
    </script>

{% endblock %}