---
pagination:
  data: sectorjusticia
  size: 8
  alias: list
permalink: "sectorjusticia/{{ pagination.pageNumber + 1}}/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Sector Justicia | JusticiaPedia</title>

{% endblock %}

{% block content %}

        <section id="content px-4">
			<div class="content-wrap">

				<!-- Slider
				============================================= -->

				<div class="section m-0 py-6" style="background-color: #90c1db">
					<div class="container">
						<div class="row justify-content-center">

							<div class="col-lg-6 col-sm-12 order-2 order-lg-1 text-center">
								<img class="imagen_slider" src="/elementos/ICONOS/JUSTICIAPEDIA_02-15.png">
                                <h1 class="titulo_slider">Sector Justicia</h1>
                                <p class="texto_slider">Lorem ipsum dolor sit amet, consecteur adipiscing elit, Lorem ipsum dolor sit amet, consecteur adipiscing elit,
                                    Lorem ipsum dolor sit amet, consecteur adipiscing elit,
                                </p>
							</div>
							
							
						</div>
					</div>
				</div>

				<!-- perfiles
				============================================= -->

				<div class="section m-0 py-6" style="background-color: #fff">
					<div class="container">
						<div class="row">

							{% for sectorjusticia in list %}
							<div class="col-lg-3 col-sm-12 order-2 order-lg-1 text-center my-2">

								<div class="cuadro_perfil h-100">
									<img src="{{sectorjusticia.fotoURL}}">
									<div class="p-4">
										<h1 class="my-2" style="height:50px">{{sectorjusticia.nombre}}</h1>
										<a href="/sectorjusticia/{{sectorjusticia.nombre | slug | safe}}/index.html" class="btn btn2">Más Información<a>
									</div>
								</div>
      
							</div>
							{% endfor %}
							
							
						</div>

						<div class="row justify-content-center">
							<div class="pagination my-4">
								<ul>
									<li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&lt</a>{% else %}<a style="pointer-events:none" href="{{ pagination.href.previous }}">&lt</a>{% endif %}</li>

									
									{%- for pageEntry in pagination.pages %}

									<li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
									{%- endfor %}
									
									
									<li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">&gt</a>{% else %}<a style="pointer-events:none" href="{{ pagination.href.next }}">&gt</a>{% endif %}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>


            </div>
        </section>

{% endblock %}